<div class="govuk-header__logotype-crown-fallback-image"
     style="background-image: url('/static/rosanna.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            width: 32px;
            border-radius: 16px;
    ">
    <img src="/static/rosanna.jpg"
         alt="The face of Rosanna, a happy customer with a very square head"
         style="position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;"
    >
</div>